{{ template "base.tmpl" . }}

{{ define "content.tmpl" }}

<div class="container">
    <div class="row mt-5">
        <div class="col d-flex">
            <h1 class="align-self-center">Welcome to <br> Honesty Canteen</h1>
        </div>
        <div class="col">
            <img src="../../static/images/FF8Rhd2WUAI-1uh.png" alt="">
        </div>
    </div>
</div>

{{ end }}