{{ template "base.tmpl" . }}

{{ define "content.tmpl" }}

{{ range $product := .data }}
{{ $product.Name }}
{{ $product.Image }}
{{ $product.Desc }}
{{ $product.Price }}
{{ $product.Time }}
{{ end }}

{{ end }}