{{ template "base.tmpl" . }}

{{ define "content.tmpl" }}

<a href="/create-product">Add Product</a>

{{ range $product := .data }}
{{ $product.Name }}
{{ $product.Image }}
{{ $product.Desc }}
{{ $product.Price }}
{{ $product.Time }}
<a href="/buy-product/{{ $product.ID }}">Buy</a>
{{ end }}

{{ end }}